.spinner-container {
  display: inline-block;
  position: relative;
}

.spinner {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid #e5e7eb;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  border-top-color: #a855f7;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
